.shopcar_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopcar_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 8px;
  text-align: center;
  background: #0C4A60;
  color: white;
  font-size: 16px;
}

.footer {
  padding: 8px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0C4A60;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
  
}


html {
  padding: 0px !important;
  
}

.tablink {
  background-color: #EF6C33;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
  width: 25%;
}

.tablink:hover {
  background-color: #0C4A60;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {
  background-color: #ABDFF1;
  text-align: center;
}

.horse {
  color: #EF6C33;
  font-weight: bold;
  font-size: 40px;
}

.horse > p {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#Home > img {
  margin: auto;
}

.homebutton {

  border: 0px;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  width: 20%;
  animation: twinkle 1s alternate infinite;
}

@keyframes twinkle {
  from {
    background: #EF6C33;
  }

  to {
    background: #0C4A60;
  }
}

/* .homebutton:hover {
    background-color: #ca0101;
  } */

#ItemProduct {
  background-color: #ABDFF1;
}

#ShopCarPage {
  background-color: #ABDFF1;
}

#About {
  background-color: #ABDFF1;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #0C4A60;
  margin-bottom: 16px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #EF6C33;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #c5592b;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: rgb(131, 131, 131);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #EF6C33;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #c5592b;
}

a {
  color: #00447b;
}

hr {
  border: 1px solid grey;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}

table {
  margin: auto;
}

.story {
  display: table-cell;
  vertical-align: middle;
}
